.slider-box {
  width: 100%;
  height: 420px;
  border: 2px solid #050505;
  border-radius: 0px;
  position: relative;
  background: #f3f3f3;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.custom-controls {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.arrow img{
 height: 25px;
}


.dots {
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #fcfcfc;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.6;
}

.dot.active {
  background: #000;
  opacity: 1;
}

.right-frame {
  width: 100%;
  height: 420px;
  border: 2px solid #000;
  background: #f3f3f3;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.frame-label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.frame-img-box {
  width: 170px;
  height: 140px;
  background: #dfe2e6;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-image {
  width: 100px;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .slider-box {
    height: 195px;
  }
  .right-frame {
    height: 147px;
  }
  
}